@use "../styles/variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", system-ui, sans-serif;
  background-color: v.$background-1; // o el color del Figma
  color: #fff;
  min-height: 100vh;
}

