@use "../styles/variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Montserrat", system-ui, sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: v.$background-1; // o el color del Figma
  color: v.$neutral-70;
  min-height: 100dvh;
  min-height: 100vh;
  min-height: 100dvh;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
