/* @import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

// _variables.scss
$color-primary: #00b5cc;
$spacing-md: 16px;
$border-radius: 8px;

$background-1: #1c1d3b;
$background-2: #fffac2;

$white: #ffffff;
$white-2: #f0f0f0;
$black: #000000;

$blue-1: #a2f2f9;
$blue-2: #49d5e1;
$blue-3: #1a7a83;
$dark-blue-1: #233a59;

$yellow-1: #d8e054;
$yellow-2: #b1b83b;
$yellow-3: #73781c;

$red-1: #ed4343;
$red-2: #fc1f1f;
$red-3: #ff0000;

$orange-1: #ec8825;

$neutral-70: #465669;
$neutral-90: #212c31;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
