@use "~/styles/mixins" as m;
@use "~/styles/variables" as v;

.trigger {
  @include m.flex-center;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  border-width: 0.2rem;
}

.popover {
  padding: 0;
  overflow: hidden;
}

.popoverButton {
  @include m.flex-center;
  padding: 0 1rem;
  gap: 0.4rem;
  height: 100%;
  width: 100%;
  height: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 400;

  &:hover {
    background: v.$white-2;
  }
}
