@use "~/styles/mixins" as m;
@use "~/styles/variables" as v;

.loginLayout {
  @include m.flex-center;
  height: 100vh;
  height: 100dvh;
}

.loginContainer {
  background: v.$background-2;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.logo {
  width: 15rem;
}
