@use "~/styles/variables" as v;

.button {
  background: red;
  box-shadow: -0.25rem 0.25rem;
  border: none;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 0.25rem;
  letter-spacing: 0.05rem;

  &:disabled {
    cursor: auto;
    opacity: 0.7;
  }
}

.primary {
  background: v.$blue-1;
  color: v.$dark-blue-1;
  box-shadow: -0.25rem 0.25rem v.$yellow-1;
  &:hover {
    background: v.$blue-2;
  }
  &:active {
    background: v.$blue-3;
    color: v.$white;
  }
  &:disabled {
    background: v.$blue-1;
    color: v.$dark-blue-1;
  }
}

.secondary {
  background: v.$yellow-1;
  box-shadow: -0.25rem 0.25rem v.$blue-1;
  &:hover {
    background: v.$yellow-2;
  }
  &:active {
    background: v.$yellow-3;
    color: v.$white;
  }
  &:disabled {
    background: v.$blue-1;
    color: v.$dark-blue-1;
  }
}
