@use "~/styles/variables" as v;

.button {
  border: none;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 0.25rem;
  letter-spacing: 0.05rem;
  transition: 0.2s;

  &:disabled {
    cursor: auto;
    opacity: 0.6;
  }
}

.primary {
  background: v.$blue-1;
  color: v.$dark-blue-1;
  box-shadow: -0.25rem 0.25rem v.$yellow-1;
  &:hover {
    background: v.$blue-2;
  }
  &:active {
    background: v.$blue-3;
    color: v.$white;
  }
  &:disabled {
    background: v.$blue-1;
    color: v.$dark-blue-1;
  }
}

.secondary {
  background: v.$yellow-1;
  box-shadow: -0.25rem 0.25rem v.$blue-1;
  &:hover {
    background: v.$yellow-2;
  }
  &:active {
    background: v.$yellow-3;
    color: v.$white;
  }
  &:disabled {
    background: v.$blue-1;
    color: v.$dark-blue-1;
  }
}

.danger {
  background: v.$red-1;
  box-shadow: -0.25rem 0.25rem v.$orange-1;
  color: v.$white;
  &:hover {
    background: v.$red-2;
  }
  &:active {
    background: v.$red-3;
  }
  &:disabled {
    background: v.$blue-1;
    color: v.$dark-blue-1;
  }
}

.outline {
  background: transparent;
  border: solid 0.25rem v.$blue-1;
  &:hover {
    background: v.$blue-1;
  }
  &:active {
    background: v.$blue-2;
    color: v.$white;
  }
  &:disabled {
    background: v.$blue-1;
    color: v.$dark-blue-1;
  }
}
