.finishPageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.finishPageContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.description {
  font-weight: 600;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  button {
    width: 13rem;
  }
}
