@use "~/styles/mixins" as m;
@use "~/styles/variables" as v;

.gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  font-weight: 700;
  gap: 1rem;
}

.charactersContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.playButton {
  width: 8rem;
}

.refetchButton {
  @include m.flex-center;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  border-width: 0.2rem;

  & > svg {
    width: 0.9rem;
    height: 0.9rem;
  }
}

.cardList {
  padding-top: 1rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.turnsAndExit {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.leftOptions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (min-width: v.$sm) {
  .cardList {
    grid-template-columns: repeat(4, 1fr);
  }
}
